* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #141e30, #243b55);
}

.quiz-container {
    width: 90%;
    max-width: 650px;

    background: white;

    padding: 40px;

    border-radius: 18px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Start Screen */

#start-screen h1 {
    color: #243b55;
    font-size: 40px;
    margin-bottom: 20px;
}

#start-screen p {
    font-size: 19px;
    color: #333;
    margin-bottom: 10px;
}

#start-screen .subtitle {
    font-size: 15px;
    color: #777;
    margin-bottom: 30px;
}

/* Buttons */

button {
    border: none;
    border-radius: 8px;

    background: #243b55;
    color: white;

    font-size: 16px;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    background: #141e30;
    transform: translateY(-2px);
}

/* Start Button */

#startBtn {
    padding: 14px 30px;
    font-size: 17px;
}

/* Quiz Header */

.quiz-header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 12px;

    color: #243b55;

    font-weight: bold;
}

/* Progress Bar */

.progress-container {
    width: 100%;
    height: 8px;

    background: #e5e7eb;

    border-radius: 10px;

    margin-bottom: 30px;

    overflow: hidden;
}

#progressBar {
    width: 20%;
    height: 100%;

    background: #243b55;

    transition: width 0.3s ease;
}

/* Question */

#question {
    color: #222;

    font-size: 24px;

    margin-bottom: 25px;
}

/* Options */

#options {
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.option {
    width: 100%;

    padding: 14px;

    border: 2px solid #d1d5db;

    border-radius: 8px;

    background: white;

    color: #222;

    cursor: pointer;

    font-size: 16px;

    transition: 0.2s;
}

.option:hover {
    border-color: #243b55;
    background: #f1f5f9;
}

.option.correct {
    background: #28a745;
    color: white;
    border-color: #28a745;
}

.option.wrong {
    background: #dc3545;
    color: white;
    border-color: #dc3545;
}

/* Next Button */

#nextBtn {
    margin-top: 25px;

    padding: 12px 28px;
}

/* Result */

#result h1 {
    color: #243b55;

    margin-bottom: 20px;
}

#score {
    font-size: 22px;

    font-weight: bold;

    color: #222;

    margin-bottom: 12px;
}

#resultMessage {
    color: #666;

    margin-bottom: 25px;
}

#restartBtn {
    padding: 12px 25px;
}

/* Hidden */

.hidden {
    display: none;
}

/* Mobile */

@media (max-width: 500px) {

    .quiz-container {
        padding: 25px 20px;
    }

    #start-screen h1 {
        font-size: 32px;
    }

    #question {
        font-size: 20px;
    }

    .quiz-header {
        font-size: 14px;
    }

    .option {
        font-size: 15px;
    }
}